* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electronic Arts Text";
}

html {
  font-size: 10px;
}

/* VARIABLES */
@import "./scss/variables";

/* MIXINS */
@import "./scss/mixins";

/* FONT AND ASSETS */
@import "./scss/font";
@import "./scss/assets";

/* PARTIALS */
@import "./scss/partials/navbar";
@import "./scss/partials/hero-section";
@import "./scss/partials/card-section";
@import "./scss/partials/content-section";
@import "./scss/partials/footer";
