* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ElectronicArtsDisplay-Regular";
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

/* VARIABLES */
@import "./scss/variables";

/* MIXINS */
@import "./scss/mixins";

/* FONT AND ASSETS */
@import "./scss/font";
@import "./scss/components";

/* PARTIALS */
@import "./scss/all-partials";
