/* DESKTOP STYLES */

#card-section {
  width: 100%;
  height: 50vh;
  background-color: $primary-color;

  @include tablet-media-query {
    background-color: blue;
  }

  @include smartphone-media-query {
    background-color: green;
  }

  h1 {
    @include h1(desktop);
    color: black;

    @include tablet-media-query {
      @include h1(tablet);
      color: red;
    }

    @include smartphone-media-query {
      @include h1(smartphone);
        color: blue;
    }
  }

  h2 {
    @include h2(desktop);
    color: black;

    @include tablet-media-query {
      @include h2(tablet);
      color: red;
    }

    @include smartphone-media-query {
      @include h2(smartphone);
        color: $primary-color;
    }
  }

  h3 {
    @include h3(desktop);
    color: black;

    @include tablet-media-query {
      @include h3(tablet);
      color: red;
    }

    @include smartphone-media-query {
      @include h3(smartphone);
    }
  }

  h4 {
    @include h4(desktop);
    color: black;

    @include tablet-media-query {
      @include h4(tablet);
      color: red;
    }

    @include smartphone-media-query {
      @include h4(smartphone);
        color: blue;
    }
  }

  span {
    @include span(desktop);
    color: black;

    @include tablet-media-query {
      @include span(tablet);
      color: red;
    }

    @include smartphone-media-query {
      @include span(smartphone);
        color: blue;
    }
  }

  a {
    @include link(desktop);
    color: black;

    @include tablet-media-query {
      @include link(tablet);
      color: red;
    }

    @include smartphone-media-query {
      @include link(smartphone);
        color: blue;
    }
  }
}



